*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(95, 95, 95);
  font-size: 16px;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  

}
body{
  background-color: rgb(235, 229, 223);
}
 .TodoContainer{
  width: 420px;
  background-color: white
 }
 .Date{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 40px;
 }

 .Date .today-date{
  display: flex;
 }

 .Date .today-date .digit-container{
  font-weight: 900;
  font-size: 2.6rem;
  margin-right: 5px;
 }
 .Date .month-year-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .Date .month-year-container .month{
  font-size: 14px;
  font-weight: bolder;
 }
 .Date .day{
  font-weight: bolder;
 }